/* change color of whole page */
body {
    margin: 0;
    background-color: #0C2D48;
}

/* make image smaller */

img {
    width: 375px; 
    height: auto;
    padding: 35px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* make defined header and footer that match */

h1, main > footer > h3 {
    font-family: Palatino, 'Times New Roman', Times, serif;
    font-size: 50px;
    background-color: #145DA0;
    margin: 0; 
    padding: 20px;
}

/* add border to bottom of header */

h1 {
    border-bottom: 3px solid black;
}

/* center naviagtion bar */

nav, h2, h3 {
    text-align: center;
}

/* add space between words */

nav {
    word-spacing: 25px;
}

/* change font size in footer */

main > footer > h3 {
    font-size: 22px;
    border-top: 3px solid black;
    margin-top: 60px;
}

/* center main text */

.intro, .about, .contact {
   display: block;
   width: 50%;
   margin-left: 25%;
}

/* change color of links at various states */

a:link {
    color: #2E8BC0;
}

a:visited {
    color: #A700CC
}

a:hover {
    color: white;
}
a:active {
    color: #EC0051
}

/* styling the horozontal lines */

hr {
    width: 75%;
    height: 5px;
    border: black;
    background-color: black;
    margin-top: 60px;
    margin-bottom: 60px;
}